[submodule "cde"]
	path = dependencies/cde
	url = https://github.com/chipsalliance/cde.git
[submodule "berkeley-hardfloat"]
	path = dependencies/berkeley-hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "rocket-chip"]
	path = dependencies/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
	branch = dev
[submodule "rocket-chip-blocks"]
	path = dependencies/rocket-chip-blocks
	url = https://github.com/chipsalliance/rocket-chip-blocks.git
[submodule "rocket-chip-inclusive-cache"]
	path = dependencies/rocket-chip-inclusive-cache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
[submodule "rocket-chip-fpga-shells"]
	path = dependencies/rocket-chip-fpga-shells
	url = https://github.com/chipsalliance/rocket-chip-fpga-shells.git
[submodule "dependencies/rocket-chip"]
	branch = dev
